@model Api_Usuarios.Models.Cuenta

@{
    ViewData["Title"] = "Editar Cuenta";
}

<h1>Editar Cuenta</h1>

<hr />>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="genero" class="control-label">Nombre</label>
                <input asp-for="genero" class="form-control" />
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Biografia" class="control-label">Biografía</label>
                <input asp-for="Biografia" class="form-control" />
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="foto_perfil" class="control-label">Foto de Perfil</label>
                <input asp-for="foto_perfil" type="file" class="form-control" />
                <span asp-validation-for="foto_perfil" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="fecha_nac" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="fecha_nac" type="date" class="form-control" />
                <span asp-validation-for="fecha_nac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Musico" class="control-label">Es Músico</label>
                <input asp-for="Musico" type="checkbox" class="form-check-input" />
                <span asp-validation-for="Musico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Privado" class="control-label">Privado</label>
                <input asp-for="Privado" type="checkbox" class="form-check-input" />
                <span asp-validation-for="Privado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label">Contraseña</label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
